/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
	background: #F0EBE6;
}

h1 {
	text-align: center;
	font-family: sans-serif;
	color: #663300;
}

p {
	font-style: italic;
	font-size: 26px;
	font-family: sans-serif;
}

a {
	color: #660033;
}

#new-player {
	text-align: center;
}

#container {
	background-color: #856666;
	border: 4px dotted #B29980;
	width: 75%;
	margin: 0 auto;
}

.player {
	font: ;
	width: 75%;
	background: #B29980;
	margin: 40px auto;
	padding: 25px;
}

.player p {
	font-style: normal;
	font-size: 18px;
	color: #eee;
}

.player a {
	color: #996633;
}

.player, #container {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
